version: "3.9"

x-base: &default-config
  restart: unless-stopped
  ulimits:
    nproc: 65535
    nofile:
      soft: 20000
      hard: 40000
  stop_grace_period: 1m
  logging:
    driver: json-file
    options:
      max-size: '100m'
      max-file: '1'
  mem_swappiness: 0

services:
  es7:
    # https://www.elastic.co/guide/en/elasticsearch/reference/7.12/docker.html
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.7
    container_name: es7
    environment:
      discovery.type: single-node  # https://www.elastic.co/guide/en/elasticsearch/reference/7.5/bootstrap-checks.html#single-node-discovery
      bootstrap.memory_lock: "true"
      ES_JAVA_OPTS: -Xms512m -Xmx512m
      transport.host: 127.0.0.1  # https://www.elastic.co/guide/en/elasticsearch/reference/current/bootstrap-checks.html#dev-vs-prod-mode
      xpack.security.enabled: false
    volumes:
      - /data/docker/es7:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      - app
      - db

  # https://www.elastic.co/guide/en/kibana/current/docker.html
  kibana7:
    image: docker.elastic.co/kibana/kibana:7.17.7
    container_name: kibana7
    environment:
      ELASTICSEARCH_HOSTS: http://es7:9200
      i18n.locale: zh-CN
      xpack.security.enabled: false
    ports:
      - 5601:5601
    networks:
      - app
      - db

networks:
  db:
    external: true
    name: db
  app:
    external: true
    name: app

